@inherits LayoutComponentBase

<div style="padding: 7px">
    @Body
    
    <FluentNavLink Style="padding: 7px;" Href="https://github.com/codymullins/litepeek" Target="_blank">View on GitHub</FluentNavLink>
</div>

<FluentToastProvider/>
<FluentDialogProvider/>
<FluentTooltipProvider/>
<FluentMessageBarProvider/>
<FluentMenuProvider/>